.daybox-wrapper {

    padding: .5rem;

    min-height: var(--size);
    max-width: var(--size);
    flex: 1;

}

.daybox-wrapper.grayed-out {
    opacity: 33%;
    cursor: auto;
}



.daybox-wrapper .daynum {
    text-align: right;
    margin-bottom: .5rem;
}



.daybox-wrapper ul.tasklist li.create-task {

    visibility: hidden;
    opacity: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: .33rem;

    border: 1px solid var(--blue-500);

    font-size: calc(var(--size) * .11);
    font-weight: 400;
    color: var(--blue-500);

    transition: .15s background-color;

    cursor: pointer;

}

.daybox-wrapper ul.tasklist li.create-task:hover,
.daybox-wrapper ul.tasklist li.create-task:focus {
    background-color: var(--blue-500);
    color: white;
    opacity: 100% !important;
}


.daybox-wrapper:hover ul.tasklist li.create-task,
.daybox-wrapper:focus ul.tasklist li.create-task {
    visibility: visible;
    opacity: 50%;
}



@media (max-width: 750px) {

    .daybox-wrapper ul.tasklist li.create-task {
        padding: .05rem .25rem;
        font-size: .6rem;
        border-radius: .15rem;
    }

}