# GENERAL

PORT=8080

VITE_IS_PROD=false

VITE_PROD_BACKEND_URL=https://api.example.com   # Please don't include / at end of URL        
PROD_FRONTEND_URL=https://example.com           # Please don't include / at end of URL

VITE_TEST_BACKEND_URL=http://localhost:8080     # Please don't include / at end of URL    
TEST_FRONTEND_URL=http://localhost:5173         # Please don't include / at end of URL



# MONGO

MONGO_USERNAME=supersecretusername
MONGO_PASSWORD=supersecretpassword

MONGO_CONNECTION_STRING=mongodb://<username>:<password>@database:27017



# MONGO DOCKER

MONGO_INITDB_ROOT_USERNAME=supersecretusername
MONGO_INITDB_ROOT_PASSWORD=supersecretpassword



# EXPRESS SESSION

COOKIE_SECRET=supersecretcookiekey