# MONGO

MONGO_USERNAME=supersecretusername
MONGO_PASSWORD=supersecretpassword

MONGO_CONNECTION_STRING=mongodb://<username>:<password>@database:27017


# MONGO DOCKER

MONGO_INITDB_ROOT_USERNAME=supersecretusername
MONGO_INITDB_ROOT_PASSWORD=supersecretpassword



# EXPRESS SESSION

COOKIE_SECRET=supersecretcookiekey