/* LOADING */

.loading {

    display: flex;

    align-items: center;
    justify-content: center;

}

.loading .icon {
    color: var(--blue-500);
    animation: 1s infinite linear spin;
}

@keyframes spin {

    0% {
        rotate: 0deg;
        opacity: 100%;
    }

    50% {
        rotate: 180deg;
        opacity: 50%;
    }

    100% {
        rotate: 360deg;
        opacity: 100%;
    }

}