/* HEADER */

.calendar .month-picker {

    padding: 1rem 5rem;
    background-color: rgba(0, 0, 0, .33);

    min-height: 23rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;

}

@media (max-width: 550px) {
    .calendar .month-picker {

        flex-direction: column-reverse;
        align-content: center;
        justify-content: center;

        gap: 1rem;
        padding: 1rem;

        min-height: 15rem;

    }
}

.calendar .month-picker img {

    position: absolute;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    height: 100%;
    width: 100%;

    object-fit: cover;
    z-index: -1;

}



/* TODAY BUTTON */

.calendar .month-picker .today-button {

    color: white;
    background: none;
    backdrop-filter: blur(5px);

    border-radius: .25rem;
    border: 1px solid white;

    font-size: 1.6rem;
    padding: .75rem 2rem;

    transition: .15s all;

}

.calendar .month-picker .today-button:hover {
    color: white;
    background-color: var(--blue-500);
    border: 1px solid var(--blue-500);
}

.calendar .month-picker .today-button:active {
    background-color: var(--blue-700);
}



/* MONTH DISPLAYER */

.calendar .month-picker .month-displayer {

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1rem;
    padding: 1rem;
    border-radius: .25rem;

    color: white;

}

.calendar .month-picker .month-displayer button {

    display: flex;
    align-items: center;
    justify-content: center;

    background: none;
    color: white;
    outline: none;

    transition: .15s color;

}

.calendar .month-picker .month-displayer button:hover {
    color: var(--blue-500);
}