header {

    display: flex;
    align-items: center;
    justify-content: right;

    gap: 1rem;

    padding: .5rem 1rem;

    background-color: var(--blue-500);

}

@media (max-width: 550px) {

    header {
        align-items: center;
        justify-content: space-between;
    }

}



header .loading .icon {
    color: white;
}



header p {

    color: white;

    font-family: var(--ff-rubik);
    font-size: 1.6rem;
    font-weight: 700;

}



header .logout {

    display: flex;
    align-items: center;
    justify-content: center;

    gap: .25rem;

    background-color: transparent;
    color: white;

    font-family: var(--ff-rubik);
    font-size: 1.6rem;
    font-weight: 300;

}

header .logout:hover {
    text-decoration: underline;
}

header .logout:hover>.icon {
    display: initial;
}

header .logout:hover>.icon-outline {
    display: none;
}


header .logout .icon {
    display: none;
}